/*
 *  Style View Detail
 */

.button-left{
  float: left !important;
}

.text-styles{
  text-align: justify;
  text-justify: inter-word;
}
.card, .list-inset {
  overflow: hidden;
  margin: 20px 10px;
  background-color: #fff;
}
