/*
 *  Style Rank
 */


.list2 {
  position: relative;
  padding-top: 80px !important;

}


.bar-red2 {
  color: #FFF;
  border-color: transparent;
  background-color: #c23838; }

.title1{
  font-size: 28px;
}
