/*
 *  Login styles
 */

.has-input {
  color : #c23838;
  font-weight: bold;
}

.pull-center{
  text-align: center;
}

.auth-welcome{
  text-align: center;
  color: #c23838;

}

.h2{
  color: #c23838;
}
