/*
 *  Login styles
 */

.has-input {
  color : #c23838;
  font-weight: bold;
}

.auth-welcome{
  position: relative;
  text-align: center;
  color: #222222;
}

.pull-center{
  text-align: center;
}

.logo{
  position: relative;
  padding-top: 50px;
  padding-bottom: 1px;
  padding-left: 10px;
  margin-bottom: 10px;
}

