/*
 *  Style Team Detail
 */

.list3 {
  position: relative;
  padding-top: 40px !important;

}

.list4 {
  position: relative;

}

.button-test {
  margin-left: 5px;
}

.title2{
  font-size: 22px;
}

.padding-top2{
  padding-top: 27px;
  padding-bottom: 1px;

}
