/*
 *  Create Team Styles
 */

.list-createTeam{

  position: relative;
  padding-top: 70px !important;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;

}


.item-avatar {
  padding-left: 16px;
}


.padding > .button.button-block:first-child {
  margin-top: 10px;
}

