<ion-radio ng-model="" ng-value="''"><img src="img/1land.png" style="width:22px;height:30px;">  Landmark</ion-radio>
<ion-radio ng-model="" ng-value="''"><img src="img/2cul.png" style="width:22px;height:30px;">  Culture</ion-radio>
<ion-radio ng-model="" ng-value="''"><img src="img/3shop.png" style="width:22px;height:30px;">  Shop</ion-radio>
<ion-radio ng-model="" ng-value="''"><img src="img/4res.png" style="width:22px;height:30px;">  Food</ion-radio>
<ion-radio ng-model="" ng-value="''"><img src="img/5other.png" style="width:22px;height:30px;">  ETC</ion-radio>
