
<ion-radio ng-model="search.type" ng-value="'img/1land.png'"><img src="img/1land.png" style="width:22px;height:30px;">  Landmark</ion-radio>
<ion-radio ng-model="search.type" ng-value="'img/2cul.png'"><img src="img/2cul.png" style="width:22px;height:30px;">  Culture</ion-radio>
<ion-radio ng-model="search.type" ng-value="'img/3shop.png'"><img src="img/3shop.png" style="width:22px;height:30px;">  Shopping</ion-radio>
<ion-radio ng-model="search.type" ng-value="'img/4res.png'"><img src="img/4res.png" style="width:22px;height:30px;">  Food</ion-radio>
<ion-radio ng-model="search.type" ng-value="'img/5other.png'"><img src="img/5other.png" style="width:22px;height:30px;">  Services</ion-radio>
<ion-radio ng-model="search.type" ng-value="'all'"><img src="img/allmk.png" style="width:22px;height:30px;">  Show All</ion-radio>
