
<ion-header-bar class="bar-red ">

  <div class="buttons">
    <button class="button-head icon ion-home text-left" ng-click="linkToBeginMap()"></button>
  </div>
  <h1 class="title">WalkRally</h1>

  <div class="buttons">
  <button class="button-head icon ion-log-in text-right" ng-click="linkToLogin()"></button>
  </div>


</ion-header-bar>

    <ion-view title="Map">
      <div class="col col-100 paddingMap heightMap">
        <B-map
          zoom="11"
          draggable="true"
          style="height: 100%;max-height: 100%; width: 100%"
        >
        </B-map>
      </div>

<!--
    <div class="item item-text-wrap" ng-repeat="place in places">
//{{place.location.lat}}/{{place.location.lng}}
    </div>
    -->
    </ion-view>


