<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar>
  <ion-content>
    Place {{place.name}}

  </ion-content>
  <ion-content>
    <ion-list>
      <ion-radio ng-model="data.language" ng-value="'en'">English</ion-radio>
      <ion-radio ng-model="data.language" ng-value="'th'">Thai</ion-radio>
      <ion-radio ng-model="data.language" ng-value="'cn'">Chinese</ion-radio>
    </ion-list>
    <button class="button button-positive" ng-click="modal.hide()">
      Back
    </button>
  </ion-content>
</ion-modal-view>
