<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">View Detail </h1>
  </ion-header-bar>
  <ion-content>
    <h2>Place {{place.name}}</h2>

    <br>
    <button class="button button-positive" ng-click="modalGameViewDetail.hide()">
      Back
    </button>
    <br>
    <button class="button button-positive" ng-click="openModalGameViewMoreDetail()">
      More-detail
    </button>
    <br>
    <button class="button button-positive" ng-click="openModalListQuestion()">
      Start Question
    </button>

  </ion-content>
</ion-modal-view>
