<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Question </h1>
  </ion-header-bar>
  <ion-content>
    <h2>Place {{place.name}}</h2>
    Question:{{place.questions[0].descriptions[0].content}} <br>
    choice:{{place.questions[0].choices[0].description[0].content}}<br>
    choice:{{place.questions[0].choices[1].description[0].content}}<br>
    choice:{{place.questions[0].choices[2].description[0].content}}<br>
    choice:{{place.questions[0].choices[3].description[0].content}}<br>

    <br>
    <button class="button button-positive" ng-click="modalQuestion.hide()">
      Back
    </button>
    <button class="button button-positive" ng-click="modalQuestion.hide()">
      Answer
    </button>
    <br>


  </ion-content>
</ion-modal-view>
