<ion-modal-view>
  <ion-header-bar class="bar-red ">
    <h1 class="title">List Question</h1>
  </ion-header-bar>

  <ion-content>


        <div class="list-inset">

          <div class="auth-welcome">
            <h3>Question Lists</h3>
            <h5>Please click on the question.</h5>
          </div>
          <br>
          <button class="button icon-left ion-help button-block button-light" ng-disabled="isDisabled" ng-click="checkQuestion(place.questions[0]._id)">
            {{place.questions[0].descriptions[0].content}}</button>

        </div>

        <div class="padding">

          <button type="submit" class="button button-block" style="margin-top: -5px" ng-click="modalListQuestion.hide()">B A C K</button>
        </div>



  </ion-content>
</ion-modal-view>
