<ion-modal-view>
  <ion-header-bar class="bar-red ">
    <h1 class="title">View Detail</h1>
  </ion-header-bar>

  <ion-content>
    </br>
    <h3 class="text-center">{{place.name}}</h3>

    <div class="card">
        <div class="item item-body">
        <img src="{{place.thumbnail}}" alt="{{place.name}}" style="width:100%">

          <p class="text-styles">
            <b>{{place.name}}</b>
            </br>
            {{place.descriptions[0].content}}
          </p >
        </div>
    </div>

    <div class="padding">
        <button type="submit" class="button button-block">N A V I G A T E</button>
        <button type="submit" class="button button-block" style="margin-top: -5px" ng-click="openModalGameViewMoreDetail()">M O R E &nbsp; D E T A I L</button>

      <div class="row " style="padding: 0px; margin-top: -15px">
        <button type="submit" class="button button-block" style="margin-right: 2px" ng-click="modalGameViewDetail.hide()">B A C K</button>
        <button type="submit" class="button button-block" style="margin-left: 2px" ng-click="getCompare(place)">Q U E S T I O N</button>
      </div>
    </div>


  </ion-content>
</ion-modal-view>
