<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Questions </h1>
  </ion-header-bar>
  <ion-content>
    <h2>Place {{place.name}}</h2>

    <ul class="list">
      <li class="item"  ng-click="openModalQuestion()"> Question:{{place.questions[0].descriptions[0].content}} </li>
      <!--<li class="item"  ng-click="openModalQuestion()"> Question2 </li>-->
    </ul>

    <br>
    <button class="button button-positive" ng-click="modalListQuestion.hide()">
      Back
    </button>
    <br>


  </ion-content>
</ion-modal-view>

