
  <ion-header-bar class="bar-red ">
    <div>
      <i class="icon ion-home" style="color: #543a3d"></i>
    </div>
    <h1 class="title">Time Count 15:00</h1>
    <div class="buttons">
      <button class="button-head icon ion-log-out text-right" ui-sref="logout"></button>
    </div>
  </ion-header-bar>

  <ion-view title="Map">

  <div class="col col-100 paddingMap">
      <B-map
        zoom="11"
        draggable="true"
        style="height: 565px; width: 100%"
      >
      </B-map>
    </div>


    <button ng-click="getCompare()"> compare location </button>
    <button ng-click="getCurrent()">your current  </button>


    <div class="tabs tabs-icon-top tabs-color">
      <a class="tab-item col-50" ui-sref="gamemap">
        <i class="icon ion-map"></i>
        MAP
      </a >
      <a class="tab-item col-50"  ui-sref="rank">
        <i class="icon ion-ribbon-b" ></i>
        RANK
      </a >

    </div>
  </ion-view>
