<ion-header-bar class="bar-red ">
  <div class="buttons">
    <button class="button-head icon ion-home" ng-click="linkToMapBegin()"></button>
  </div>
  <h1 class="title">WalkRally</h1>
  <div>
    <i class="icon ion-home" style="color: #543a3d"></i>
  </div>

</ion-header-bar>

<ion-view title="Login">

  <div class="list">
    <div class="text-center" >
     <!-- <img src="/resources/test_logo.jpg" width="68" height="68" alt="LOGO" > -->
    </div>

    <div class="auth-welcome">
      <h2>Welcome!</h2>
      <h5>Sign in with your Walk Rally to continue.</h5>
    </div>
  </div>


    <form ng-submit="fn.login(data.credentials)" class="col col-100">
      <div class="padding">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Login" ng-model="data.credentials.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="data.credentials.password">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block" ng-disabled="!data.credentials.email">L O G I N</button>
      </div>
      <div class="pull-center">
            Don't have an WalkRally id?
        <a class="btn btn-link btn-flush" ui-sref="register">Get Start!</a>
      </div>
    </form>

  </div>
  </ion-content>
</ion-view>

