<ion-header-bar class="bar-red ">
  <h1 class="title">Walk Rally Application</h1>
  <div class="buttons">
    <button class="button-head icon ion-home"></button>
  </div>
</ion-header-bar>


<ion-view title="Team Detail ">

  <ion-content>
<br>
      <h1> team detail</h1>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-person-stalker"></i>
            <h2>{{team.name}}</h2>
{{team.members.length}}/3

            <button class="button button-outline button-positive pull-right" ng-click="startgame()">START</button>
            <button class="button button-outline button-positive pull-right" ng-click="quitTeam(teamId)">Quit</button>
          </a>
        </div>
      </div>

      <ul class="list">

        <li class="item"  ng-repeat="member in team.members"> {{member.fullName}}</li>

      </ul>
    </ion-content>
  </ion-view>
