<ion-header-bar class="bar-red ">
  <div class="buttons">
    <button class="button-head icon ion-chevron-left text-left" ui-sref="logout"></button>
  </div>
  <h1 class="title">WalkRally</h1>
  <div>
    <i class="icon ion-home text-right" style="color: #543a3d"></i>
  </div>

</ion-header-bar>

<ion-view title="Create Team" >
  <ion-content>
    <div class="list-createTeam col col-70">

      <div class="auth-welcome">
      <h2>Create Your Team!</h2>
      <h5>Input your team name to continue.</h5>
      </div>

      <div class="item item-avatar item-borderless">
        <div class="text-center padding">
          <label class="item item-input">
            <span class="input-label" >Input Team Name :</span>
            <input type="text" ng-model="data.teamName">

          </label>

          <div class="padding">
            <button type="submit" class="button button-block " ng-click="createTeam()">C R E A T E &nbsp;T E A M</button>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
