<ion-header-bar class="bar-red ">
  <h1 class="title">Walk Rally Application</h1>
  <div class="buttons">
    <button class="button-head icon ion-home"></button>
  </div>
</ion-header-bar>

<ion-view title="Timeline">

  <ion-content class="has-subheader">
   <!-- <div ng-if="data.twitts.length === 0" class="empty-msg">Aucun twitt :(</div>
    <div ng-if="data.twitts.length > 0" class="list">
      <a class="item item-avatar" ng-repeat="twitt in data.filteredTwitts = (data.twitts | filter:search) track by twitt.id" ui-sref="app.twitt({id: twitt.id})">
        <img ng-src="{{twitt.avatar}}">
        <h2>{{twitt.user}}</h2>
        <p>{{twitt.content}}</p>
      </a>
    </div> -->


      <div class="auth-welcome">
        <h3>Let's join!</h3>
      </div>

    <div class="padding-Button">
      <button class="button button-block" ng-click="linktoCreateTeam()">
        <i class="icon ion-ios-people" >  C R E A T E  &nbsp; T E A M</i>
      </button>
    </div>

    <div class="card">
      <div class="item item-text-wrap" ng-repeat="team in teams" >
        <a class="item item-icon-left custom-text">
          <i class="icon ion-person-stalker custom-icon"></i>
          TEAM  {{team.name}}
          <br>
          {{team.currentMember}}/3
          <button class="button button-outline button-positive pull-right" ng-disabled="team.currentMember ==3 ||team.currentMember >3" ng-click="joinTeam(team._id)">Join</button>
        </a>
      </div>

    </div>




  </ion-content>
</ion-view>
