<ion-view title="Timeline">

  <ion-content class="has-subheader">
   <!-- <div ng-if="data.twitts.length === 0" class="empty-msg">Aucun twitt :(</div>
    <div ng-if="data.twitts.length > 0" class="list">
      <a class="item item-avatar" ng-repeat="twitt in data.filteredTwitts = (data.twitts | filter:search) track by twitt.id" ui-sref="app.twitt({id: twitt.id})">
        <img ng-src="{{twitt.avatar}}">
        <h2>{{twitt.user}}</h2>
        <p>{{twitt.content}}</p>
      </a>
    </div> -->


    <div class="list card">
      <div class="item item-text-wrap" ng-repeat="team in teams" >
        <a href="#" class="item item-icon-left">
          <i class="icon ion-person-stalker"></i>
          TEAM  {{team.name}}
          <button class="button button-outline button-positive pull-right">Join</button>
        </a>
      </div>

    </div>

    <a href="#/app/twitt" class="item item-icon-left">
    <i class="icon ion-home" >Create team</i>
    </a>


  </ion-content>
</ion-view>
